html {
    min-height: 100%;
}

body {
    color: rgba(33,33,33,1);
    font-family: Lato, sans-serif;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 10%, rgba(255,255,255,1) 20%), url("../img/bg.jpg");
}

h1 {
    text-align: center;
    font-size: 85px;
    letter-spacing: 2px;
    margin: 30px 0;
}

.clickable {
    cursor: pointer;
}

.clickable.textonly:hover {
    text-decoration: underline;
}

p {
    text-align: center;
    font-size: 20px;
}

#carousel-gallery {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.carousel-wrapper {
    display: none;
    width: 400px;
    text-align: center;
    margin: 20px;
}

.category img {
    border-radius: 10px;
}

.popis {
    position: absolute;
    z-index: 10;
    width: 100%;
    padding-bottom: 20px;
    color: white;
    background: linear-gradient(black, transparent);
}

.popis:hover {
    color: black;
    background: linear-gradient(white, transparent);
}

.show_on_hover {
    display: none;
}

.carousel-wrapper:hover .show_on_hover {
    display: block;
}

#categories {
    column-count: 2;
    column-fill: balance;
    column-gap: 10px;
    margin-top: 30px;
}

.category {
    border-radius: 10px;
    padding: 10px;
    margin: 0 20px;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../img/bg.jpg");
    text-align: center;
}

.category:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}